@model IEnumerable<Producto>

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .preloader {
        position: absolute;
        height: 100px;
        width: 100px;
        top: 50%;
        left: 50%;
        margin-left: -50px;
        margin-top: -50px;
        background: url(/link/to/your/image);
        background-size: 100%;
    }
</style>
<link rel="stylesheet" href="sweetalert2.min.css">

<div id="DelegadoDeEventos">
    <div class="text-center">
        <h1 class="display-4">Juguetería</h1>
        <div class="container">
            <div class="col-md-12 text-center">              
                    <img width="100px" src="~/imagenes/juguetes.png" />             
            </div>
        </div>
       <div><span><b id="numProductosDisponibles">@Model.Count()</b></span><span> productos disponibles</span></div>

        <div style="padding-top:50px">
            <div class="text-left pb-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#modalNuevoProducto" role="button">
                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                    Agregar producto
                </button>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Compañia</th>
                        <th scope="col">Edad recomendada</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody id="contenedorListaDeProductos">
                    <partial name="~/Views/Home/_listaProductos.cshtml" model="@Model" />
                </tbody>
            </table>
        </div>
    </div>




    <!-- Modal -->

    <div class="modal fade" id="modalNuevoProducto" tabindex="-1" role="dialog" aria-labelledby="modalNuevoProductoLabel" aria-hidden="true">
        <span style="color:white; font-size:2em" class="preloader">Cargando...</span>
        <div class="modal-dialog" id="contenedorCrearProductoModal" role="document">


        </div>
    </div>

    <div class="modal fade" id="modalEditarProducto" tabindex="-1" role="dialog" aria-labelledby="modalEditarProductoLabel" aria-hidden="true">
        <span style="color:white; font-size:2em" class="preloader">Cargando...</span>
        <div class="modal-dialog" id="contenedorEditarProductoModal" role="document">


        </div>
    </div>

    <div class="modal fade" id="modalEliminarProducto" tabindex="-1" role="dialog" aria-labelledby="modalEliminarProductoLabel" aria-hidden="true">
        <div class="modal-dialog" id="contenedorEditarProductoModal" role="document">
            <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">                     
                        <p>¿Quieres continuar? El proceso no podrá ser revertido.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, cancelar</button>
                        <button id="btnEliminarProducto" data-idproducto type="submit" class="btn btn-primary">Si, continuar</button>
                    </div>
            </div>

        </div>
    </div>
</div>

@section scripts{

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>


<script>
    $(document).ready(function () {

         //NuevoProducto
        $('#modalNuevoProducto').on('show.bs.modal', function (e) {

            $("#contenedorCrearProductoModal").empty();

        })

        $("#modalNuevoProducto").on('shown.bs.modal', function (e) {

                $.ajax
                ({
                    url: "@Url.Action("ObtenerVistaCrearProducto", "Home")",
                })
                    .done(function (response) {

                        setTimeout(function () {
                            $("#contenedorCrearProductoModal").html(response)

                        }, 500);

                    })
        })



        $("#DelegadoDeEventos").on("click","#btnCrearProducto",function (e)
        {
            e.preventDefault();
            var formData = new FormData(document.getElementById("formCrearProducto"));
            console.log(formData);

            $.ajax({
                url: "@Url.Action("CrearProducto", "Home")",
                dataType: "html",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                method: "POST",


            }).done(function (data)
            {
                var json = JSON.parse(data);

                if (json.satisfactorio) {
                    $("#contenedorListaDeProductos").html(json.vista)
                    $("#numProductosDisponibles").text(json.productosEnInventario)
                    $("#modalNuevoProducto").modal("hide");
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Producto agregado',
                        showConfirmButton: false,
                        timer: 1500
                    })
                }
                else {
                    $("#contenedorCrearProductoModal").html(json.vista)

                }


            })

        })

        //EditarProducto

        $('#modalEditarProducto').on('show.bs.modal', function (e) {

            $("#contenedorEditarProductoModal").empty();

        })

        $("#DelegadoDeEventos").on("click", ".btnEditarProducto", function (e) {

            var id = $(this).data("idproducto");
            var url = "@Url.Action("ObtenerVistaEditarProducto", "Home", new {id = "idProducto" })"
            url = url.replace("idProducto", id);

               $.ajax
                ({
                    url: url,
                })
                    .done(function (response) {

                        setTimeout(function () {
                            $("#contenedorEditarProductoModal").html(response)

                        }, 200);

                    })
        })

       $("#DelegadoDeEventos").on("click","#btnEditarProducto",function (e)
        {
            e.preventDefault();
            var formData = new FormData(document.getElementById("formEditarProducto"));
            console.log(formData);

            $.ajax({
                url: "@Url.Action("EditarProducto", "Home")",
                dataType: "html",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                method: "POST",


            }).done(function (data)
            {
                var json = JSON.parse(data);

                if (json.satisfactorio) {
                    $("#contenedorListaDeProductos").html(json.vista)
                    $("#numProductosDisponibles").text(json.productosEnInventario)
                    $("#modalEditarProducto").modal("hide");
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Actualizado correctamente',
                        showConfirmButton: false,
                        timer: 1000
                    })

                }
                else {
                    $("#contenedorEditarProductoModal").html(json.vista)
                }
            })

        })

        //Eliminar producto

        $('#modalEliminarProducto').on('show.bs.modal', function (event) {

            var button = $(event.relatedTarget);
            var clickedButtonId = button.data('idproducto');
            $("#btnEliminarProducto").data("idproducto", clickedButtonId);
        })

        $("#DelegadoDeEventos").on("click", "#btnEliminarProducto", function (e) {

            var context = $(this);

            var idProducto = context.data("idproducto");

            var url = "@Url.Action("EliminarProducto", "Home", new {id = "idProducto" })"
            url = url.replace("idProducto", idProducto);

               $.ajax
                ({
                    url: url,
                })
                    .done(function (json) {

                        if (json.satisfactorio) {
                            $("#contenedorListaDeProductos").html(json.vista)
                            $("#numProductosDisponibles").text(json.productosEnInventario)
                            $("#modalEliminarProducto").modal("hide");

                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Eliminado correctamente',
                                showConfirmButton: false,
                                timer: 1500
                            })

                        }
                        else {
                            $("#modalEliminarProducto").modal("hide");
                        }

                    })
        })

    });
</script>


} 